@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form>
        <p>
            <label for="username">Username </label>
            <input id="user" type="email">
        </p>
        <br />
        <p>
            <label for="password">Password </label>
            <input id="pass" type="password">
        </p>
        <p>
            <button id="login" type="button">Login</button>
            <button id="rp" type="button">Reset Password</button>   
        </p>
    </form>
 
    
</div>



